%table.uk-table.uk-text-left
  %thead
    %tr
      %th Name
      %th Active?
      %th Type
      %th Card Number
      %th Expires
      %th Created
      %th Updated
  %tbody
    - @authorizations.each do |auth|
      %tr
        %td= auth.name
        %td= auth.active ? 'Yes' : 'No'
        %td= auth.card_type
        %td= auth.card_number
        %td= auth.expires_at.strftime("%b %-d, %Y - %H:%M:%S") if auth.expires_at
        %td= auth.created_at.strftime("%b %-d, %Y - %H:%M:%S")
        %td= auth.updated_at.strftime("%b %-d, %Y - %H:%M:%S")
        %td
          .uk-button-group
            %a.uk-button.uk-button-primary{href: ""}
              Delete
            %a.uk-button.uk-button-primary{href: "/admin/edit?auth_id=#{auth.id}"}
              Edit

