:javascript
  $(function(){
    $('form').submit(function(event){
      if (!confirm('Are you sure you want to delete ' + $(event.target).data('name') + '?')) {
        event.preventDefault();
      }
    });
  });

- if flash[:notice]
  .uk-alert(data-uk-alert)
    %a.uk-alert-close.uk-close
    %p= flash[:notice]

%table.uk-table.uk-text-left
  %thead
    %tr
      %th Name
      %th Active?
      %th Open Rollup?
      %th Type
      %th Card Number
      %th Expires
      %th Created
      %th Updated
  %tbody
    - @authorizations.each do |auth|
      %tr
        %td= auth.name
        %td= auth.active ? 'Yes' : 'No'
        %td= auth.can_open_rollup ? 'Yes' : 'No'
        %td= auth.card_type
        %td= auth.card_number
        %td= auth.expires_at.strftime("%b %-d, %Y - %H:%M:%S") if auth.expires_at
        %td= auth.created_at.strftime("%b %-d, %Y - %H:%M:%S")
        %td= auth.updated_at.strftime("%b %-d, %Y - %H:%M:%S")
        %td
          .uk-button-group
            %form{action: "/admin/delete?auth_id=#{auth.id}", method: 'post', 'data-name' => "#{auth.name}"}
              %input{type: 'hidden', name: '_method', value: 'delete'}
              %input.uk-button.uk-button-primary{type: 'submit', value: 'Delete'}
            %a.uk-button.uk-button-primary{href: "/admin/edit?auth_id=#{auth.id}"}
              Edit

